@import "tailwindcss";
@config "../tailwind.config.ts";
@font-face {
  font-family: 'Radikal';
  src: url('/fonts/Radikal-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Radikal';
  src: url('/fonts/Radikal-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Radikal';
  src: url('/fonts/Radikal-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}