@import "tailwindcss";
@config "../tailwind.config.ts";
@import 'mapbox-gl/dist/mapbox-gl.css';

@font-face {
  font-family: 'Radikal';
  src: url('/fonts/Radikal-Light.otf') format('otf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Radikal';
  src: url('/fonts/Radikal-Regular.otf') format('otf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Radikal';
  src: url('/fonts/Radikal-Bold.otf') format('otf');
  font-weight: 700;
  font-display: swap;
}

html,
body {
  height: 100%;
}